In [1]:
import joblib
import pandas as pd
import numpy as np

In [2]:
roberta1 = joblib.load('roberta/roberta_result_pro_t1.pkl')
roberta2 = joblib.load('roberta/roberta_result_pro_t2.pkl')

In [3]:
pro_stack = 0.6 * roberta1 + 0.4 * roberta2  # f1 score:0.9741
pro_stack

array([[-0.90829015,  9.045122  , -0.9990631 , ..., -0.84589374,
        -1.1320046 , -1.2920034 ],
       [-0.9848584 , -0.7016691 ,  8.688654  , ..., -0.5980274 ,
        -0.895214  , -1.4468088 ],
       [-1.0275992 , -0.48835072, -0.45927092, ..., -1.022783  ,
        -0.7452502 , -1.1489478 ],
       ...,
       [-1.2832057 ,  8.944226  , -0.92665315, ..., -0.8807735 ,
        -1.0526514 , -1.2443168 ],
       [-0.2694729 , -0.2735179 , -0.9732305 , ..., -0.2589086 ,
        -0.83456993, -1.3326563 ],
       [-1.2933645 ,  8.96408   , -0.9385617 , ..., -0.81094337,
        -1.1227467 , -1.278058  ]], dtype=float32)

In [4]:
pro_stack_label = np.argmax(pro_stack, axis=1)
pro_stack_label = pd.DataFrame(pro_stack_label, columns=['label'])
pro_stack_label

       label
0          1
1          2
2          8
3          5
4          0
...      ...
49995      9
49996     13
49997      1
49998      3
49999      1

[50000 rows x 1 columns]

In [5]:
pro_stack_label.to_csv('../predict_result/model_stack.csv', index=False)